.toggle {
    height: $base * 2;
    width: $base * 4;
    // border: 2px solid #666;
    border-radius: 10px;
    transition: all 200ms ease;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); // Como estaba en figma
    border: 1px solid map-get($themes, "color_2"); // Selección desde el array en main.scss
    color: white;
    background-color: map-get($themes, "color_2"); // Selección desde el array en main.scss
    &.on {
        border: 1px solid map-get($themes, "color_1"); // Selección desde el array en main.scss
        color: white;
        background-color: map-get($themes, "color_1"); // Selección desde el array en main.scss
        transition: all 200ms ease;
        span {
            transform: translate(3px, 5px) scale(-0.75);
            transition: all 200ms ease;
            color: inherit;
            background-color: map-get($themes, "color_1"); // Selección desde el array en main.scss
        }
    }
    span {
        line-height: 0;
        transform: translate(-13px, 5px) scale(-0.75);
        display: block;
        transition: all 200ms ease;
        color: white;
        background-color: map-get($themes, "color_2"); // Selección desde el array en main.scss
    }
}